<ion-content [fullscreen]="true">
  
  <div class="ion-text-center">
    <h1>Registro</h1>
  </div>
<ion-card>  
 
    <ion-item>
      <ion-input [(ngModel)]="usuario" label="Usuario" labelPlacement="stacked" placeholder="Ingresar usuario"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label label="Contraseña" position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="Password" placeholder="Ingresar contraseña"></ion-input>
    </ion-item>
   

</ion-card>
<ion-button (click)="registro()" expand="full">Registrarse</ion-button>

<div class="ion-text-center" >
  <ion-text color="primary" [routerLink]="['/login']" >Ya tienes una cuenta? Inicia sesion </ion-text>
</div>


</ion-content>
